.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
target/
build/java/**/build/
build/java/gradle/
build/java/gradlew
build/java/gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
.DS_Store

.classpath
.factorypath
.project
.settings

